In [1]:
import pandas as pd
import csv
import requests
from contextlib import closing
import numpy as np

In [48]:
import datetime
import dateutil
from datetime import datetime, timedelta, time, date

In [3]:
url1 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2019-01.csv"
url21 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2019-02.csv"
url22 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2019-02.csv"
url31 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2019-03.csv"
url32 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2019-03.csv"
url41 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2019-04.csv"
url42 = "https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2019-04.csv"

In [4]:
taxizone_fhv_inflow_1901 = {}
taxizone_fhv_outflow_1901 = {}
taxizone_fhv_loop_1901 = {}

with closing(requests.get(url1, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_fhv_loop_1901[(date_hour_do, dropoff_ID)] = taxizone_fhv_loop_1901.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_fhv_inflow_1901[(date_hour_do, dropoff_ID)] = taxizone_fhv_inflow_1901.get((date_hour_do, dropoff_ID),0)+1
            taxizone_fhv_outflow_1901[(date_hour_pu, pickup_ID)] = taxizone_fhv_outflow_1901.get((date_hour_pu, pickup_ID),0)+1

In [6]:
taxizone_fhv_inflow_1902 = {}
taxizone_fhv_outflow_1902 = {}
taxizone_fhv_loop_1902 = {}

with closing(requests.get(url21, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_fhv_loop_1902[(date_hour_do, dropoff_ID)] = taxizone_fhv_loop_1902.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_fhv_inflow_1902[(date_hour_do, dropoff_ID)] = taxizone_fhv_inflow_1902.get((date_hour_do, dropoff_ID),0)+1
            taxizone_fhv_outflow_1902[(date_hour_pu, pickup_ID)] = taxizone_fhv_outflow_1902.get((date_hour_pu, pickup_ID),0)+1

In [10]:
taxizone_hfhv_inflow_1902 = {}
taxizone_hfhv_outflow_1902 = {}
taxizone_hfhv_loop_1902 = {}

with closing(requests.get(url22, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_hfhv_loop_1902[(date_hour_do, dropoff_ID)] = taxizone_hfhv_loop_1902.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_hfhv_inflow_1902[(date_hour_do, dropoff_ID)] = taxizone_hfhv_inflow_1902.get((date_hour_do, dropoff_ID),0)+1
            taxizone_hfhv_outflow_1902[(date_hour_pu, pickup_ID)] = taxizone_hfhv_outflow_1902.get((date_hour_pu, pickup_ID),0)+1

In [12]:
taxizone_fhv_inflow_1903 = {}
taxizone_fhv_outflow_1903 = {}
taxizone_fhv_loop_1903 = {}

with closing(requests.get(url31, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_fhv_loop_1903[(date_hour_do, dropoff_ID)] = taxizone_fhv_loop_1903.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_fhv_inflow_1903[(date_hour_do, dropoff_ID)] = taxizone_fhv_inflow_1903.get((date_hour_do, dropoff_ID),0)+1
            taxizone_fhv_outflow_1903[(date_hour_pu, pickup_ID)] = taxizone_fhv_outflow_1903.get((date_hour_pu, pickup_ID),0)+1

In [13]:
taxizone_hfhv_inflow_1903 = {}
taxizone_hfhv_outflow_1903 = {}
taxizone_hfhv_loop_1903 = {}

with closing(requests.get(url32, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_hfhv_loop_1903[(date_hour_do, dropoff_ID)] = taxizone_hfhv_loop_1903.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_hfhv_inflow_1903[(date_hour_do, dropoff_ID)] = taxizone_hfhv_inflow_1903.get((date_hour_do, dropoff_ID),0)+1
            taxizone_hfhv_outflow_1903[(date_hour_pu, pickup_ID)] = taxizone_hfhv_outflow_1903.get((date_hour_pu, pickup_ID),0)+1

In [16]:
taxizone_fhv_inflow_1904 = {}
taxizone_fhv_outflow_1904 = {}
taxizone_fhv_loop_1904 = {}

with closing(requests.get(url41, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_fhv_loop_1904[(date_hour_do, dropoff_ID)] = taxizone_fhv_loop_1904.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_fhv_inflow_1904[(date_hour_do, dropoff_ID)] = taxizone_fhv_inflow_1904.get((date_hour_do, dropoff_ID),0)+1
            taxizone_fhv_outflow_1904[(date_hour_pu, pickup_ID)] = taxizone_fhv_outflow_1904.get((date_hour_pu, pickup_ID),0)+1

In [17]:
taxizone_hfhv_inflow_1904 = {}
taxizone_hfhv_outflow_1904 = {}
taxizone_hfhv_loop_1904 = {}

with closing(requests.get(url42, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    reader = csv.DictReader(f)
    for record in reader:
        date_hour_do = record['dropoff_datetime'][:13]
        date_hour_pu = record['pickup_datetime'][:13]
        dropoff_ID = record['DOLocationID']
        pickup_ID = record['PULocationID']

        if dropoff_ID != '' and pickup_ID != '': 
          if dropoff_ID == pickup_ID:
            taxizone_hfhv_loop_1904[(date_hour_do, dropoff_ID)] = taxizone_hfhv_loop_1904.get((date_hour_do, dropoff_ID),0)+1
        
          elif dropoff_ID != pickup_ID:
            taxizone_hfhv_inflow_1904[(date_hour_do, dropoff_ID)] = taxizone_hfhv_inflow_1904.get((date_hour_do, dropoff_ID),0)+1
            taxizone_hfhv_outflow_1904[(date_hour_pu, pickup_ID)] = taxizone_hfhv_outflow_1904.get((date_hour_pu, pickup_ID),0)+1

In [19]:
import datetime

dt = datetime.datetime(2019, 1, 1)
end = datetime.datetime(2019, 5, 1, 1, 0, 0)
step = datetime.timedelta(hours=1)

result = []
fulldate = []

while dt < end:
    result.append(dt.strftime('%Y-%m-%d %H:%M:%S'))
    fulldate.append(dt.strftime('%m/%d/%Y %H:%M:%S'))
    dt += step

In [20]:
taxizoneID = list(range(1,264))

In [21]:
keys = [(x,str(y)) for x in result for y in taxizoneID]

In [22]:
fhv = pd.DataFrame({'map' : keys})

In [25]:
fhv['map2'] = [(x[:13],y) for (x,y) in fhv['map']]

In [35]:
fhv['inflow_counts_1901'] = fhv.map2.map(taxizone_fhv_inflow_1901)
fhv['outflow_counts_1901'] = fhv.map2.map(taxizone_fhv_outflow_1901)
fhv['loop_counts_1901'] = fhv.map2.map(taxizone_fhv_loop_1901)
fhv['inflow_counts_1902'] = fhv.map2.map(taxizone_fhv_inflow_1902)
fhv['outflow_counts_1902'] = fhv.map2.map(taxizone_fhv_outflow_1902)
fhv['loop_counts_1902'] = fhv.map2.map(taxizone_fhv_loop_1902)
fhv['inflow_counts_h_1902'] = fhv.map2.map(taxizone_hfhv_inflow_1902)
fhv['outflow_counts_h_1902'] = fhv.map2.map(taxizone_hfhv_outflow_1902)
fhv['loop_counts_h_1902'] = fhv.map2.map(taxizone_hfhv_loop_1902)

In [36]:
fhv['inflow_counts_1903'] = fhv.map2.map(taxizone_fhv_inflow_1903)
fhv['outflow_counts_1903'] = fhv.map2.map(taxizone_fhv_outflow_1903)
fhv['loop_counts_1903'] = fhv.map2.map(taxizone_fhv_loop_1903)
fhv['inflow_counts_h_1903'] = fhv.map2.map(taxizone_hfhv_inflow_1903)
fhv['outflow_counts_h_1903'] = fhv.map2.map(taxizone_hfhv_outflow_1903)
fhv['loop_counts_h_1903'] = fhv.map2.map(taxizone_hfhv_loop_1903)

In [37]:
fhv['inflow_counts_1904'] = fhv.map2.map(taxizone_fhv_inflow_1904)
fhv['outflow_counts_1904'] = fhv.map2.map(taxizone_fhv_outflow_1904)
fhv['loop_counts_1904'] = fhv.map2.map(taxizone_fhv_loop_1904)
fhv['inflow_counts_h_1904'] = fhv.map2.map(taxizone_hfhv_inflow_1904)
fhv['outflow_counts_h_1904'] = fhv.map2.map(taxizone_hfhv_outflow_1904)
fhv['loop_counts_h_1904'] = fhv.map2.map(taxizone_hfhv_loop_1904)

In [39]:
fhv = fhv.fillna(0)

In [41]:
fhv['inflow_counts'] = fhv['inflow_counts_1901'] + fhv['inflow_counts_1902'] + fhv['inflow_counts_1903'] + fhv['inflow_counts_h_1902'] + fhv['inflow_counts_h_1903'] + fhv['inflow_counts_1904'] + fhv['inflow_counts_h_1904']

In [42]:
fhv['outflow_counts'] = fhv['outflow_counts_1901'] + fhv['outflow_counts_1902'] + fhv['outflow_counts_1903'] + fhv['outflow_counts_h_1902'] + fhv['outflow_counts_h_1903'] + fhv['outflow_counts_1904'] + fhv['outflow_counts_h_1904']

In [43]:
fhv['loop_counts'] = fhv['loop_counts_1901'] + fhv['loop_counts_1902'] + fhv['loop_counts_1903'] + fhv['loop_counts_h_1902'] + fhv['loop_counts_h_1903'] + fhv['loop_counts_1904'] + fhv['loop_counts_h_1904']

In [44]:
fhv.drop(['inflow_counts_1901', 'outflow_counts_1901', 'loop_counts_1901',
       'inflow_counts_1902', 'outflow_counts_1902', 'loop_counts_1902',
       'inflow_counts_h_1902', 'outflow_counts_h_1902', 'loop_counts_h_1902',
       'inflow_counts_1903', 'outflow_counts_1903', 'loop_counts_1903',
       'inflow_counts_h_1903', 'outflow_counts_h_1903', 'loop_counts_h_1903',
       'inflow_counts_1904', 'outflow_counts_1904', 'loop_counts_1904',
       'inflow_counts_h_1904', 'outflow_counts_h_1904', 'loop_counts_h_1904'], axis=1, inplace=True)

In [46]:
fhv['time'] = [x for (x,y) in fhv['map']]
fhv['taxizoneID'] = [int(y) for (x,y) in fhv['map']]

In [49]:
fhv['time'] = [datetime.strptime(x, '%Y-%m-%d %H:%M:%S') for x in fhv['time']]

In [50]:
fhv['hour'] = [x.hour for x in fhv['time']]
fhv['weekday'] = fhv[['time']].apply(lambda x: datetime.strftime(x['time'], '%A'), axis=1)
fhv['week'] = [x.isocalendar()[1] for x in fhv['time']]

In [51]:
def timebin(hour):
    if hour == 20:
        return 1
    if hour == 21:
        return 1
    if hour == 22:
        return 1
    if hour == 23:
        return 1
    if hour == 0:
        return 2
    if hour == 1:
        return 2
    if hour == 2:
        return 2
    if hour == 3:
        return 2
    else:
        return 0
    
hourgroups = {1:'8pm - 12am', 
              2: '12am - 4am', 
              0:'daytime'}

In [52]:
fhv['timegroup'] = fhv['hour'].apply(timebin)
fhv['timegroupstr'] = fhv['timegroup'].map(hourgroups)

In [53]:
fhv

                               map  ... timegroupstr
0         (2019-01-01 00:00:00, 1)  ...   12am - 4am
1         (2019-01-01 00:00:00, 2)  ...   12am - 4am
2         (2019-01-01 00:00:00, 3)  ...   12am - 4am
3         (2019-01-01 00:00:00, 4)  ...   12am - 4am
4         (2019-01-01 00:00:00, 5)  ...   12am - 4am
...                            ...  ...          ...
757698  (2019-05-01 00:00:00, 259)  ...   12am - 4am
757699  (2019-05-01 00:00:00, 260)  ...   12am - 4am
757700  (2019-05-01 00:00:00, 261)  ...   12am - 4am
757701  (2019-05-01 00:00:00, 262)  ...   12am - 4am
757702  (2019-05-01 00:00:00, 263)  ...   12am - 4am

[757703 rows x 12 columns]